mixin footer()
	+b.FOOTER.footer.block-with-lazy
		+e.bg-img(src='img/@2x/footer-bg.png' alt='')
		.container
			+e.row.row
				.col-sm-auto
					+e.logo-wrap
						img.res-i(src='img/@2x/footer-logo.png' alt='')
				.col-sm-auto
					+e.title Курсы изучения английского языка
						span TWO FINGERS
			+e.add-info
				span Дизайн сайта: Анна Новак
				span anyaiv2001@gmail.com
