.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-adv-i1 {
	font-size:(50/10)*1rem;
	width:(36/50)*1em;
}
.icon-adv-i2 {
	font-size:(49/10)*1rem;
	width:(52/49)*1em;
}
.icon-adv-i3 {
	font-size:(50/10)*1rem;
	width:(37/50)*1em;
}
.icon-adv-i4 {
	font-size:(54/10)*1rem;
	width:(37/54)*1em;
}
.icon-adv-i5 {
	font-size:(51/10)*1rem;
	width:(54/51)*1em;
}
.icon-adv-i6 {
	font-size:(46/10)*1rem;
	width:(52/46)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
