mixin s-advantages()
	// start s-advantages
	+b.SECTION.s-advantages.section#s-advantages&attributes(attributes)
		+e.bg-img(src='img/@2x/advantages-circles.png' alt='')
		.container
			+e.abs-img(src='img/@2x/advantages-abs-img.png' alt='')
			+e.H2.title Особенности обучения в Нашей школе
			+e.row.row
				+e.col.col-md-6
					+e.item
						+e.icon-wrap
							img.res-i(src='img/@2x/adv-i1.png' alt='')
						+e.item-descr
							+e.item-title Отличное расположение
							+e.item-text Мы находимся всего в пяти минутах от метро «Гостинный двор» и «Крестовский остров»
				+e.col.col-md-6
					+e.item
						+e.icon-wrap
							img.res-i(src='img/@2x/adv-i2.png' alt='')
						+e.item-descr
							+e.item-title Маленькие группы
							+e.item-text Максимальное количество студентов в группе- 5 человек. Преподаватель будет уделять Вам достаточное  количество времени
				+e.col.col-md-6
					+e.item
						+e.icon-wrap
							img.res-i(src='img/@2x/adv-i3.png' alt='')
						+e.item-descr
							+e.item-title Группы по уровням
							+e.item-text Первая неделя обучения покажет в какой из групп Вы будете заниматься
				+e.col.col-md-6
					+e.item
						+e.icon-wrap
							img.res-i(src='img/@2x/adv-i4.png' alt='')
						+e.item-descr
							+e.item-title Преподаватели носители языка
							+e.item-text Погружение в английский ‘’с головой’’, достигается благодаря тому, что родной язык преподавателей - это английский
				+e.col.col-md-6
					+e.item
						+e.icon-wrap
							img.res-i(src='img/@2x/adv-i5.png' alt='')
						+e.item-descr
							+e.item-title Дебаты
							+e.item-text Мы подготовим Вас к реальной беседе с иностранцем
				+e.col.col-md-6
					+e.item
						+e.icon-wrap
							img.res-i(src='img/@2x/adv-i6.png' alt='')
						+e.item-descr
							+e.item-title Возраст
							+e.item-text В Нашей школе занимаются  ученики любого возраста
			+e.btn.btn.btn-dark.link-modal(href='#modal-form') Записаться на занятия
	// end s-advantages