mixin s-atmosphere()
	// start s-atmosphere
	+b.SECTION.s-atmosphere.section#s-atmosphere&attributes(attributes)
		+e.bg-img(src='img/@2x/atmosphere-circles.png' alt='')
		.container
			+e.H2.title Немного атмосферы Нашей школы
			+e.subtitle Каждое занятие проходит в дружной обстановке

			+e.row.row
				+e.col.col-lg-auto
					+e.img-wrap
						img.res-i(src='img/@2x/atm-i1.jpg' alt='')
				+e.col.col-lg
					+e.img-wrap
						img.res-i(src='img/@2x/atm-i2.jpg' alt='')
				+e.col.col-lg-auto
					+e.img-wrap
						img.res-i(src='img/@2x/atm-i3.jpg' alt='')
	// end s-atmosphere